<ul class="list-unstyled">
  <li><a href="https://github.com" target="_blank">GitHub</a>
  <li><a href="https://www.w3.org/standards/" target="_blank">W3C标准</a></li>
  <li><a href="https://www.javascript.com/ " target="_blank">JavaScript</a></li> 
  <li><a href="https://www.python.org/ " target="_blank">Python</a></li> 
  <li><a href="https://www.sublimetext.com/ " target="_blank">Sublime Text</a></li>  
  <li><a href="http://www.crockford.com/" target="_blank">大牛crockford</a></li>
  <li><a href="http://xinshengdaxue.com/" target="_blank">李笑来的新生大学</a></li>
  <li><a href="http://macshuo.com/" target="_blank">池建强的随想录</a></li> 
  <li><a href="http://ruanyifeng.com/" target="_blank">阮一峰博客</a></li>
  <li><a href="http://www.liaoxuefeng.com/" target="_blank">廖雪峰博客</a></li>
</ul>