            <ul class="list-unstyled">
              <li>
                <a href="https://github.com" target="_blank">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://xinshengdaxue.com/" target="_blank">
                  新生大学
                </a>
              </li>               
              <li>
                <a href="http://winkjames.blog.163.com/" target="_blank">
                  温克坚的博客
                </a>
              </li>
              <li>
                <a href="http://macshuo.com/" target="_blank">
                  池建强的随想录
                </a>
              </li> 
              <li>
                <a href="http://www.ruanyifeng.com/blog/" target="_blank">
                  阮一峰的博客
                </a>
              </li>	
              <li>
                <a href="http://www.liaoxuefeng.com/" target="_blank">
                  廖雪峰的官网
                </a>
              </li> 	
              <li>
                <a href="https://kenengba.com/" target="_blank">
                  可能吧
                </a>
              </li> 		  
            </ul>